<app-menu></app-menu>
<div class="card" style="width: 35rem;margin: auto; margin-top: 100px">
    <div class="card-body">
      <h5 class="card-title">Confirm booking</h5>
        <div>
              <div class="form-group">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Number</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter number">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>

                </div>
        </div>
    </div>
  </div>
